.cart-item  {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    margin:0;
    padding:0;
    border:1px solid black;
}
.item-image {
    z-index:-1;
}

.cart-item-change-amount  {

}

.cart-item-add-reduce  {
    border:1px solid black;
    margin:5px;
    padding:3px;
    
}

.cart-item-total  {

}

.cart-delete-item {

}